body {
  background-color: mistyrose;
}

#main {
  width: 60%;
  margin: 5% auto;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
